.v-btn {
  text-transform: unset !important;
}

.layout-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 1rem;
}

.alert-error {
  background-color: #fee2e2;
  color: #b00020;
}

#products-table {
  border: 1px solid #ccc;
  margin-top: 15px;
  border-radius: 6px;

}

#products-table thead {
  background-color: #f4f7fa;
}

#products-table thead th {
  font-weight: 600;
}